body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: -10px;
    color: white;
    font-family: "Share Tech Mono", monospace;
}

  

img{
    display: flex;
    width: 20%;
    height: 20%;
}

.grid{
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
   

}

.grid div{
    width: 20px;
    height: 20px;
    
}


.pac-dot {
background-color: rgb(179, 50, 11);
border:5px solid white;
box-sizing: border-box;
}

.wall{
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px ;
}

.blinky{
    background-color: rgb(238, 2, 2);

}

.pinky{
    background-color: pink;
}
.inky{
    background-color:cyan ;
}
.clyde{
    background-color: rgb(239, 167, 34);
}
.pac-man {
    background-color: yellow ;
    border-radius: 20px;
}

.scared-ghost{
    background-color: blueviolet;
}